.drive-header{
    display: flex;
    margin-bottom: var(--space-extra-small);
    gap: var(--space-small);
    & .actions-trail{
        display: flex;
        gap:var(--space-tiny);
        & button{
            background: none;
            display: flex;
            padding: var(--space-tiny);
            &:disabled {
                cursor: default;
                & svg{
                    color: var(--icon-disabled);
                }
            }
            & svg{
                color: var(--icon-color);
                width: 25px;
                height: 25px;
            }
        }

    }
}
.drive-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
    background: var(--foreground-color);
    border-radius: 25px;
    height: 100%;
    padding: var(--space-extra-small) var(--space-small);
    & .actions-trail{
        display: flex;
        & button{
            padding: var(--space-extra-small) var(--space-small);
        }
    }
}



.drive-view{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.address-bar{
    display: flex;
    align-items: center;
    background: var(--background-accent-color);
    padding: var(--space-tiny) var(--space-small);
    border-radius: 100px;
    width: 100%;
    gap: var(--space-tiny);
    & .path-group{
        display: flex;
        gap: var(--space-tiny);
    }
    & .path{
        background: none;
        color: var(--text-color-invert);
    }
    & .search-result{
        cursor: default;
        color: var(--text-color-invert);
        background: none;
        font-style: italic;
    }
    & .slash{
        background: none;
        color: var(--text-color-invert);
    }
}

.search-bar{
    position: relative;
    display: flex;
    align-items: center;
    background: var(--background-accent-color);
    border-radius: 100px;
    width: 500px;
    overflow: hidden;
    & input{
        padding: var(--space-tiny) var(--space-small);
        background: none;
        width: 100%;
        color: var(--text-color-invert);
    }

    & svg{
        color: var(--icon-color);
        width: 20px;
        height: 20px;
        margin-right: var(--space-small);
    }
}

