@use './styles/colors';
@use './styles/typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

:root {

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

input, button{
    font-size: 1em;
}
.input-wrapper{
    & .heading{
        color: var(--text-accent-color);
    }
}

input[type="text"],input[type="password"]{
    outline: none;
    border: none;
    &.primary{
        padding: var(--space-tiny) var(--space-small);
        background: var(--input-primary-background);
        border-radius: 100px;
    }

}

button{
    outline: none;
    border: none;
    cursor: pointer;

    &.primary{
        background: var(--button-primary-background);
        color: var(--text-color-invert);
        padding: var(--space-small) ;
        border-radius: 7px;
    }

    &.secondary{
        background: var(--button-secondary-background);
        color: var(--text-color);
        padding: var(--space-small) ;
        border-radius: 7px;
    }
    &.outline{
        background: none;
        border: 1px solid var(--button-outline-border);
        color: var(--text-color);
        padding: var(--space-small) ;
        cursor: pointer;
        border-radius: 7px;
    }
    &.text{
        background: none;
        color: var(--text-color);
        padding: var(--space-small) ;
        cursor: pointer;
    }
    &.round{
        padding: var(--space-tiny) calc(var(--space-medium) * 1.3);
        border-radius: 100px;
    }
    &.full{
        width: 100%;
    }
    &.white{
        background: var(--);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
