.file-upload-container{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-tiny);
}

.file-upload-wrapper{
    color: var(--text-color-invert);
    background: var(--background-color);
    padding: var(--space-extra-small);
    border-radius: 7px 7px 24px 7px;
}