.profile-container{
    background: none;
    color: var(--text-color-invert);
    display: flex;
    align-items: center;
    & img{
        border-radius: 100%;
    }
}
.profile-dropdown-container{
    position: relative;
    display: flex;
}
.profile-dropdown{
    position: absolute;
    bottom: 150%;
    right: 0;
    left: 0;
}