.edit-password-wrapper{
    & form{
        display: flex;
        flex-direction: column;
        gap:var(--space-small);
    }
}

.input-list{
    display: flex;
    flex-direction: column;
    gap:var(--space-tiny);
}
.error{
    color: var(--error-color);
}