:root{
  --background-color: #000000;
  --middleground-color:#EBEBEB;
  --foreground-color:#FFFFFF;

  --text-color: #000;
  --text-color-invert: #fff;
  --text-accent-color: #777777;

  --button-primary-background:#000;
  --button-primary-disabled: #212121;
  --button-secondary-background:#EEE;
  --button-outline-border: #000;

  --input-primary-background:rgba(0,0,0,0.04);
  --input-primary-background-invert:rgba(255,255,255,0.04);

  --border-color:#d8d8d8;

  --success-color: #88c459;
  --error-color: #f5414f;
  --warning-color: #ffd137;
}

body{
  background: var(--background-color);
  color: var(--text-color);
}
