.container{
    padding: var(--space-extra-small);
    height: 100%;
    display: flex;
    flex-direction: column;

    & footer{
        padding-top: var(--space-extra-small);
        display: flex;
        justify-content: space-between;
    }
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.action-trail{
    display: flex;
    align-items: stretch;
    gap: var(--space-small);
}
